img {
    width: 30%;
    height: 30%;
    margin: 1.4%;
}

#container {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 40px;
    width: 45%;
    font-family: 'Caprasimo', cursive;
    text-transform: uppercase;
    border-bottom: 2px;
    border-bottom: 2px solid #f70505;
    padding-bottom: 3px;

}